<!-- Main -->
<div id="main">
  <!-- Header -->
  <header id="header">
    <h1>Turismo Chile</h1>
    <p>Lugares Emblematicos</p>
    <a>
      <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
        <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
        <li><%= link_to "Ir a la Página de Contacto", acerca_path %></li>
      </ul>
    </header>
    <!-- Thumbnail -->
    <section id="thumbnails">
      <article>
        <a class="thumbnail" href="<%= asset_path('fulls/1.avif') %>" data-position="left center"><img src="<%= asset_path('thumbs/01.jpg') %>" alt="" /></a>
        <h2>Laguna Lejía</h2>
        <p>San Pedro de Atacama, Chile</p>
      </article>
      <article>
        <a class="thumbnail" href="<%= asset_path('fulls/2.avif') %>"><img src="<%= asset_path('thumbs/02.jpg') %>" alt="" /></a>
        <h2>Los Flamencos National Reserve</h2>
        <p> Chile</p>
      </article>
      <article>
        <a class="thumbnail" href="<%= asset_path('fulls/3.avif') %>" data-position="top center"><img src="<%= asset_path('thumbs/03.jpg') %>" alt="" /></a>
        <h2>San Pedro de Atacama</h2>
        <p>Chile</p>
      </article>
      <article>
        <a class="thumbnail" href="<%= asset_path('fulls/4.avif') %>"><img src="<%= asset_path('thumbs/04.jpg') %>" alt="" /></a>
        <h2>San Pedro de Atacama</h2>
        <p>Chile</p>
      </article>
      <article>
        <a class="thumbnail" href="<%= asset_path('fulls/5.avif') %>" data-position="top center"><img src="<%= asset_path('thumbs/05.jpg') %>" alt="" /></a>
        <h2>Torres del Paine National Park</h2>
        <p>Chile</p>
      </article>
      <article>
        <a class="thumbnail" href="<%= asset_path('fulls/6.avif') %>"><img src="<%= asset_path('thumbs/06.jpg') %>" alt="" /></a>
        <h2>Valparaíso</h2>
        <p>Chile</p>
      </article>
      <article>
        <a class="thumbnail" href="<%= asset_path('fulls/7.avif') %>"><img src="<%= asset_path('thumbs/07.jpg') %>" alt="" /></a>
        <h2>Torres del Paine National Park</h2>
        <p>Chile</p>
      </article>
      <article>
        <a class="thumbnail" href="<%= asset_path('fulls/8.avif') %>"><img src="<%= asset_path('thumbs/08.jpg') %>" alt="" /></a>
        <h2>Valparaíso</h2>
        <p>Chile</p>
      </article>
      <article>
        <a class="thumbnail" href="<%= asset_path('fulls/9.avif') %>"><img src="<%= asset_path('thumbs/09.jpg') %>" alt="" /></a>
        <h2>San pedro de Atacama</h2>
        <p>In quis vulputate dui. Maecenas metus elit, dictum praesent lacinia lacus.</p>
      </article>
      <article>
        <a class="thumbnail" href="<%= asset_path('fulls/10.avif') %>"><img src="<%= asset_path('thumbs/10.jpg') %>" alt="" /></a>
        <h2>Isla de Pascua</h2>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus ac tincidunt dolor.</p>
      </article>
      <article>
        <a class="thumbnail" href="<%= asset_path('fulls/11.avif') %>"><img src="<%= asset_path('thumbs/11.jpg') %>" alt="" /></a>
        <h2>San Pedro de atacama</h2>
        <p>Chile</p>
      </article>
      <article>
        <a class="thumbnail" href="<%= asset_path('fulls/12.avif') %>"><img src="<%= asset_path('thumbs/12.jpg') %>" alt="" /></a>
        <h2>Torres del paine</h2>
        <p>Feugiat auctor leo massa, nec vestibulum nisl erat faucibus, rutrum nulla.</p>
      </article>
    </section>
    <!-- Footer -->
    <footer id="footer">
      <ul class="copyright">
        <li>&copy; Untitled.</li>
        <li>Design: <a href="http://html5up.net">HTML5 UP</a>.</li>
      </ul>
    </footer>
  </div>